name: CI for book
on:
  push:
    branches: [ main ]
  pull_request:
    paths-ignore:
      - "README.md"
      - "frontend/**"

env:
  CARGO_INCREMENTAL: 0

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Cache dependencies
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Install Rust toolchain
        run: |
          rustup toolchain install stable

      - name: Install cargo-related tool
        uses: taiki-e/install-action@0e76c5c569f13f7eb21e8e5b26fe710062b57b62 # v2.65.13
        with:
          tool: nextest,cargo-make,cargo-machete

      - name: Check unused dependencies
        run: cargo machete

      - name: Tests compile
        run: cargo make test-ci --no-run --locked

      - name: Test
        run: cargo make test-ci

      - name: Clippy
        run: cargo make clippy-ci -- -Dwarnings

      - name: Rustfmt
        run: cargo make fmt -- --check
